<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="<%= root_url %>">Anyone Here?</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <% if current_user.nil? %>
            <li>
              <%= link_to "Sign in", new_user_session_path %>
            </li>
            <li>
              <%= link_to "Sign in with Weibo", user_omniauth_authorize_path(:weibo) %>
            </li>
          <% else %>
          <li>
          <%= link_to "admin", rails_admin_path %>
          </li>
            <li>
              <%= link_to "sign out", destroy_user_session_path, :method => :delete %>
            </li>
            <li>
              <%= link_to "web console", webconsole_index_path %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
